@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Poppins&display=swap');
body{
    background-image: url("../media/homeBackground.jpg");
}
h1{
    font-family: 'Fugaz One', cursive;
    font-size: 5em;
    padding: 0%;
    margin: 0%;
    color: rgb(29, 25, 23);
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 5px rgb(29, 25, 23) solid;
    border-radius: 45px;
}
article{
    padding: 0;
    margin: 0;
    list-style: none;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}
section{
    flex: 1;
    margin: 20px 10px;
    text-align: center;

    background-color: rgba(244, 237, 227, .93);
    border: 4px rgb(29, 25, 23) solid;
    border-radius: 25px;

    display: flex;
    flex-direction: column;

    min-height: 200px;
    min-width: 300px;
}
img{
   max-height: 150px;
   max-width: 150px;
   margin-right: 10px;
   margin-top: 5px;
   margin-bottom: 10px;
   align-self: center;
   padding: 8px;
   border: 5px rgb(255, 255, 255) solid;
   background-color: rgb(244, 237, 227);
   border-radius: 100px;
}
h2{
    font-family: 'Fugaz One', cursive;
    font-size: 2em;
    padding-top: 0px;
    margin-top: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
button{
    width: 70%;
    align-self: center;
    margin-bottom: 12px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    border: 2px rgb(29, 25, 23) dotted;
    border-radius: 10px;

    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
button:hover {
    background-color: rgb(29, 25, 23);
    color: white;
  }
