@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Poppins&display=swap');
body{
    background: rgb(244, 237, 227);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 120px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}
h1{
    font-family: 'Fugaz One', cursive;
    text-align: center;
    font-size: 4em;
    padding: 0px;
    margin: 0px;
    color: 	darkslategrey;
    text-shadow: 3px 2.5px teal;
}
h2{
    text-align: center;
    padding-top: 0px;
    margin-top: 3px;
    font-size: 1.5em;
    color: 	teal;
}
button{
    background-color: teal; 
    border: 3px solid darkslategrey;
    margin: 2px;
    font-size: 1em;
    color: white;
    text-align: center;
    margin: 0%;
    margin-right: 5px;
}
button:hover{
    background-color: white;
    color: 	teal;
}

div{
    width: 100%;
    text-align: center;
    margin-top: 2%;
}
canvas{
    display: inline;
    border: 10px solid rgb(29, 25, 23);
    background-color: white;
    padding: 3%;
}
section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

pre{
    display: none;
}